:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  display: block;
  text-align: center;
  margin-top: 0 auto;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  margin-top: 20px;
}

h3 {
  color: purple;
  font-size: 24px;
  opacity: 0.7;
}

@media (max-width: 570px) {
  h1 {
    font-size: 70px;
    text-align: center;
  }
  h2 {
    font-size: 25px;
    text-align: center;
  }
  h3 {
    font-size: 14px;
    text-align: center;
  }
  img {
    display: none;
  }
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.navigation-links a {
  margin: 30px;
  border-radius: 4px;
  padding:15px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.button-link {
  color: white;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  padding: 15px 15px;
  border-radius: 4px;
}

.paragraph-text {
  text-align: left;
}
